@import url('../fonts/nunito/nunito.css');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #fff;

    nav.top-nav {
        height: 70px;
        padding: 0 20px;
        flex-direction: row;
        position: sticky;
        top: -70px;
        z-index: 999;

        &.with-bg {
            background-color: #fff;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        }

        div.nav-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            height: 100%;

            div.logo {
                margin-right: 20px;

                img {
                    max-width: 46px;
                    max-height:46px;
                }
            }

            div.nav-content {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 100%;

                a.nav-link {
                    font-size: 18px;
                    color: #000;
                    text-decoration: none;
                    line-height: 40px;
                    margin: 0 10px 9px;

                    &.active {
                        margin-bottom: 5px;

                        &::after {
                            content: "";
                            width: 100%;
                            height: 4px;
                            display: block;
                            background-color: #92C76D;
                            border-radius: 2px;
                        }
                    }
                }
            }
        }

        div.nav-drawer-wrapper {
            display: none;
        }
    }

    div.content {
        margin-top: -70px;

        header.header {
            width: 100%;
            min-height: 100vh;
            background: 50% 100% / cover url('../images/header-bg.png');
            padding: 90px 20px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            div.my-avatar {
                width: 200px;
                height: 200px;
                background: center / cover url('../images/me.jpg');
                border-radius: 50%;
            }

            h1.my-name {
                font-weight: normal;
                font-size: 30px;
                margin: 20px 0 10px;
            }

            p.description {
                font-size: 18px;
                color: #5C5C5C;
                margin: 5px 0 20px;
            }

            img.btn-down {
                margin-top: 60px;
                width: 80px;
                height: 80px;
            }
        }

        section.about-me-section {
            width: 100%;
            min-height: 100vh;
            background: linear-gradient(106.85deg, #E2B38C -15.46%, #A363CB 99.68%);
            position: relative;

            div.bg {
                background: center right / cover url('../images/pearl.jpg');
                width: 100%;
                height: 100%;
                position: absolute;
                opacity: .2;
            }

            div.about-me-content-wrapper {
                max-width: 1200px;
                padding: 20px;
                margin: 0 auto;
                height: calc(100vh - 40px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;

                div.about-me-content {
                    max-width: 754px;
                    background-color: #fff;
                    border-radius: 20px;
                    padding: 40px;

                    p {
                        font-size: 24px;
                        font-weight: normal;
                        line-height: 33px;
                    }
                }
            }
        }

        section.recent-project-section {
            min-height: 100vh;
            width: 100%;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2.section-title {
                font-size: 40px;
                font-weight: 600;
                max-width: 1200px;
                margin: 0 auto;
                padding: 0 20px;
                width: 100%;
            }

            div.slider {
                width: 100%;
                overflow-x: auto;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    width: 0;
                }

                div.slider-inner {
                    padding: 0 calc((100% - 1200px) / 2);
                    width: max-content;

                    div.slider-content {
                        padding: 20px 20px;
                        width: max-content;
                        margin-top: 64px;
                        display: flex;
                        flex-direction: row;

                        a.project-card {
                            flex-shrink: 0;
                            margin-right: 30px;
                            user-select: none;
                            -webkit-user-drag: none;
                            -webkit-app-region: no-drag;
                            cursor: default;
                        }
                    }
                }
            }
        }
    }
}

.btn {
    display: block;
    line-height: 34px;
    height: 44px;
    padding: 0 20px 10px;
    border-radius: 10px;
    width: max-content;
    font-size: 24px;
    color: #fff;
    text-decoration: none;

    &.main {
        background: linear-gradient(271.58deg, #1DA1F2 -4.99%, #92C76D 96.93%);
    }

    &.rounded {
        border-radius: 20px;
    }
}

a.project-card {
    display: block;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;

    &.limit {
        max-width: 300px;
    }

    div.thumbnail {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        background-color: #5C5C5C;
        
        div.label {
            position: absolute;
            top: 0;
            right: 0;
            height: 30px;
            font-size: 12px;
            color: #fff;
            padding: 0 20px;
            background: linear-gradient(110.94deg, #92C76D -15.98%, #1DA1F2 114.66%);
            border-radius: 0 0 0 20px;
            display: flex;
            flex-direction: row;
            align-items: center;

            span {
                padding-bottom: 3px;
                text-transform: capitalize;
            }

            &::after {
                content: "";
                width: 16px;
                height: 16px;
                display: inline-block;
                margin-left: 5px;
            }
        }
    }

    h3.project-title {
        font-size: 24px;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 20px 20px;
        overflow: hidden;
        color: #000;
    }
}

div.socials {
    display: flex;
    flex-direction: row;

    a {
        width: 40px;
        height: 40px;
        margin: 0 10px;

        &.linkedin {
            background: center / contain url('../images/linkedinicon.svg');
        }

        &.facebook {
            background: center / contain url('../images/facebookicon.svg');
        }

        &.twitter {
            background: center / contain url('../images/twittericon.svg');
        }

        &.instagram {
            background: center / contain url('../images/instagramicon.svg');
        }

        &.github {
            background: center / contain url('../images/githubicon.svg');
        }
    }
}
