@import url("../fonts/nunito/nunito.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  background-color: #fff;
}

body nav.top-nav {
  height: 70px;
  padding: 0 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  top: -70px;
  z-index: 999;
}

body nav.top-nav.with-bg {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

body nav.top-nav div.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

body nav.top-nav div.nav-wrapper div.logo {
  margin-right: 20px;
}

body nav.top-nav div.nav-wrapper div.logo img {
  max-width: 46px;
  max-height: 46px;
}

body nav.top-nav div.nav-wrapper div.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

body nav.top-nav div.nav-wrapper div.nav-content a.nav-link {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  line-height: 40px;
  margin: 0 10px 9px;
}

body nav.top-nav div.nav-wrapper div.nav-content a.nav-link.active {
  margin-bottom: 5px;
}

body nav.top-nav div.nav-wrapper div.nav-content a.nav-link.active::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  background-color: #92C76D;
  border-radius: 2px;
}

body nav.top-nav div.nav-drawer-wrapper {
  display: none;
}

body div.content {
  margin-top: -70px;
}

body div.content header.header {
  width: 100%;
  min-height: 100vh;
  background: 50% 100%/cover url("../images/header-bg.png");
  padding: 90px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body div.content header.header div.my-avatar {
  width: 200px;
  height: 200px;
  background: center/cover url("../images/me.jpg");
  border-radius: 50%;
}

body div.content header.header h1.my-name {
  font-weight: normal;
  font-size: 30px;
  margin: 20px 0 10px;
}

body div.content header.header p.description {
  font-size: 18px;
  color: #5C5C5C;
  margin: 5px 0 20px;
}

body div.content header.header img.btn-down {
  margin-top: 60px;
  width: 80px;
  height: 80px;
}

body div.content section.about-me-section {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(106.85deg, #E2B38C -15.46%, #A363CB 99.68%);
  position: relative;
}

body div.content section.about-me-section div.bg {
  background: center right/cover url("../images/pearl.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .2;
}

body div.content section.about-me-section div.about-me-content-wrapper {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  height: calc(100vh - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

body div.content section.about-me-section div.about-me-content-wrapper div.about-me-content {
  max-width: 754px;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
}

body div.content section.about-me-section div.about-me-content-wrapper div.about-me-content p {
  font-size: 24px;
  font-weight: normal;
  line-height: 33px;
}

body div.content section.recent-project-section {
  min-height: 100vh;
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body div.content section.recent-project-section h2.section-title {
  font-size: 40px;
  font-weight: 600;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

body div.content section.recent-project-section div.slider {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
}

body div.content section.recent-project-section div.slider::-webkit-scrollbar {
  width: 0;
}

body div.content section.recent-project-section div.slider div.slider-inner {
  padding: 0 calc((100% - 1200px) / 2);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

body div.content section.recent-project-section div.slider div.slider-inner div.slider-content {
  padding: 20px 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body div.content section.recent-project-section div.slider div.slider-inner div.slider-content a.project-card {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

.btn {
  display: block;
  line-height: 34px;
  height: 44px;
  padding: 0 20px 10px;
  border-radius: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.btn.main {
  background: linear-gradient(271.58deg, #1DA1F2 -4.99%, #92C76D 96.93%);
}

.btn.rounded {
  border-radius: 20px;
}

a.project-card {
  display: block;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-decoration: none;
}

a.project-card.limit {
  max-width: 300px;
}

a.project-card div.thumbnail {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background-color: #5C5C5C;
}

a.project-card div.thumbnail div.label {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  font-size: 12px;
  color: #fff;
  padding: 0 20px;
  background: linear-gradient(110.94deg, #92C76D -15.98%, #1DA1F2 114.66%);
  border-radius: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.project-card div.thumbnail div.label span {
  padding-bottom: 3px;
  text-transform: capitalize;
}

a.project-card div.thumbnail div.label::after {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 5px;
}

a.project-card h3.project-title {
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 20px 20px;
  overflow: hidden;
  color: #000;
}

div.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

div.socials a {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

div.socials a.linkedin {
  background: center/contain url("../images/linkedinicon.svg");
}

div.socials a.facebook {
  background: center/contain url("../images/facebookicon.svg");
}

div.socials a.twitter {
  background: center/contain url("../images/twittericon.svg");
}

div.socials a.instagram {
  background: center/contain url("../images/instagramicon.svg");
}

div.socials a.github {
  background: center/contain url("../images/githubicon.svg");
}
/*# sourceMappingURL=style.css.map */