@import url("../fonts/nunito/nunito.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  background-color: #fff;
}

body nav.top-nav {
  height: 70px;
  padding: 0 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  top: -70px;
  z-index: 999;
}

body nav.top-nav, body nav.top-nav * {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

body nav.top-nav.show {
  top: 0;
}

body nav.top-nav.with-bg {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

body nav.top-nav div.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

body nav.top-nav div.nav-wrapper div.logo {
  margin-right: 20px;
}

body nav.top-nav div.nav-wrapper div.logo img {
  max-width: 46px;
  max-height: 46px;
}

body nav.top-nav div.nav-wrapper div.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

body nav.top-nav div.nav-wrapper div.nav-content a.nav-link {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  line-height: 40px;
  margin: 0 10px 9px;
}

body nav.top-nav div.nav-wrapper div.nav-content a.nav-link.active {
  margin-bottom: 5px;
}

body nav.top-nav div.nav-wrapper div.nav-content a.nav-link.active::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  background-color: #92C76D;
  border-radius: 2px;
}

body nav.top-nav div.nav-drawer-wrapper {
  display: none;
}

body div.content {
  margin-top: -70px;
}

body div.content div.landing header.header {
  width: 100%;
  min-height: 100vh;
  background: 50% 100%/cover url("../images/header-bg.png");
  padding: 90px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body div.content div.landing header.header div.my-avatar {
  width: 200px;
  height: 200px;
  background: center/cover url("../images/me.jpg");
  border-radius: 50%;
}

body div.content div.landing header.header h1.my-name {
  font-weight: normal;
  font-size: 30px;
  margin: 20px 0 10px;
}

body div.content div.landing header.header p.description {
  font-size: 18px;
  color: #5C5C5C;
  margin: 5px 0 20px;
}

body div.content div.landing header.header img.btn-down {
  margin-top: 60px;
  width: 80px;
  height: 80px;
}

body div.content div.landing section.about-me-section {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(106.85deg, #E2B38C -15.46%, #A363CB 99.68%);
  position: relative;
}

body div.content div.landing section.about-me-section div.bg {
  background: center right/cover url("../images/pearl.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .2;
}

body div.content div.landing section.about-me-section div.about-me-content-wrapper {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  height: calc(100vh - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

body div.content div.landing section.about-me-section div.about-me-content-wrapper div.about-me-content {
  max-width: 754px;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
}

body div.content div.landing section.about-me-section div.about-me-content-wrapper div.about-me-content p {
  font-size: 24px;
  font-weight: normal;
  line-height: 33px;
}

body div.content div.landing section.recent-project-section {
  min-height: 100vh;
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body div.content div.landing section.recent-project-section h2.section-title {
  font-size: 40px;
  font-weight: 600;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

body div.content div.landing section.recent-project-section div.slider {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
}

body div.content div.landing section.recent-project-section div.slider::-webkit-scrollbar {
  width: 0;
}

body div.content div.landing section.recent-project-section div.slider div.slider-inner {
  padding: 0 calc((100% - 1200px) / 2);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

body div.content div.landing section.recent-project-section div.slider div.slider-inner div.slider-content {
  padding: 20px 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body div.content div.landing section.recent-project-section div.slider div.slider-inner div.slider-content a.project-card {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

body div.content div.about div.card {
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

body div.content div.about div.card h3.card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

body div.content div.about section.about-section {
  padding: 90px 20px 20px;
  width: 100%;
  background-color: #fff;
  background: center right/cover url("../images/header-bg.png");
}

body div.content div.about section.about-section div.about-section-inner {
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(90vh - 110px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.content div.about section.about-section div.about-section-inner img.my-photo {
  max-width: 336px;
  border-radius: 20px;
  margin-right: 40px;
}

body div.content div.about section.about-section div.about-section-inner div.card {
  max-width: 754px;
}

body div.content div.about section.about-section div.about-section-inner div.card p {
  color: #5C5C5C;
  font-size: 24px;
  line-height: 33px;
}

body div.content div.about section.green-section {
  padding: 20px;
  background-color: #92C76D;
}

body div.content div.about section.green-section div.green-section-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(90vh - 40px);
}

body div.content div.about section.green-section div.green-section-inner div.card {
  max-width: 525px;
  width: 100%;
}

body div.content div.about section.green-section div.green-section-inner div.card.profile {
  font-size: 18px;
}

body div.content div.about section.green-section div.green-section-inner div.card.profile div.content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body div.content div.about section.green-section div.green-section-inner div.card.profile div.content-item img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 5px;
}

body div.content div.about section.green-section div.green-section-inner div.card.profile div.content-item span {
  margin-bottom: 15px;
  line-height: 20px;
}

body div.content div.about section.green-section div.green-section-inner div.card.education div.card-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24px auto;
      grid-template-columns: 24px auto;
  grid-gap: 20px;
}

body div.content div.about section.green-section div.green-section-inner div.card.education div.card-content div.dot::after {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background-color: #c4c4c4;
  margin: 0 auto;
}

body div.content div.about section.green-section div.green-section-inner div.card.education div.card-content div.dot.last::after {
  display: none;
}

body div.content div.about section.green-section div.green-section-inner div.card.education div.card-content div.school div.year {
  font-size: 14px;
  color: #5C5C5C;
}

body div.content div.about section.green-section div.green-section-inner div.card.education div.card-content div.school div.school-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

body div.content div.about section.orange-section {
  background-color: #E2B38C;
  padding: 20px;
}

body div.content div.about section.orange-section div.orange-section-inner {
  max-width: 1200px;
  min-height: calc(90vh - 20px);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.content div.about section.orange-section div.orange-section-inner div.card {
  max-width: 525px;
  width: 100%;
}

body div.content div.about section.orange-section div.orange-section-inner div.card.language span.language-name {
  font-size: 18px;
  color: #838383;
  margin: 20px 0 10px;
  display: block;
}

body div.content div.about section.orange-section div.orange-section-inner div.card.experience-card div.card-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24px auto;
      grid-template-columns: 24px auto;
  grid-gap: 20px;
}

body div.content div.about section.orange-section div.orange-section-inner div.card.experience-card div.card-content div.dot::after {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background-color: #c4c4c4;
  margin: 0 auto;
}

body div.content div.about section.orange-section div.orange-section-inner div.card.experience-card div.card-content div.dot.last::after {
  display: none;
}

body div.content div.about section.orange-section div.orange-section-inner div.card.experience-card div.card-content div.experience div.date {
  font-size: 14px;
  color: #5C5C5C;
}

body div.content div.about section.orange-section div.orange-section-inner div.card.experience-card div.card-content div.experience div.experience-place {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 5px;
}

body div.content div.about section.orange-section div.orange-section-inner div.card.experience-card div.card-content div.experience div.experience-description {
  font-size: 14px;
  line-height: 18px;
}

body div.content div.about section.skill-section {
  padding: 20px 20px 40px;
  background-color: #fff;
}

body div.content div.about section.skill-section div.skill-section-inner {
  max-width: 1200px;
  margin: 0 auto;
}

body div.content div.about section.skill-section div.skill-section-inner h3.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
}

body div.content div.about section.skill-section div.skill-section-inner div.certificate {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
}

body div.content div.about section.skill-section div.skill-section-inner div.certificate a {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

body div.content div.about section.skill-section div.skill-section-inner div.certificate a img {
  max-width: 100%;
}

body div.content div.about section.skill-section div.skill-section-inner div.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
}

body div.content div.projects-page {
  padding: 110px 20px 40px;
}

body div.content div.projects-page div.project-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 20px;
}

body footer.footer div.footer-column {
  padding: 20px;
  background-color: #F7F7F7;
}

body footer.footer div.footer-column div.footer-column-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc((100% - 40px) / 3))[3];
      grid-template-columns: repeat(3, calc((100% - 40px) / 3));
  grid-gap: 20px;
}

body footer.footer div.footer-column div.footer-column-wrapper div.footer-content h3.footer-title {
  font-size: 24px;
}

body footer.footer div.footer-column div.footer-column-wrapper div.footer-content.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer.footer div.footer-column div.footer-column-wrapper div.footer-content.logo img {
  max-width: 194px;
  max-height: 194px;
}

body footer.footer div.footer-column div.footer-column-wrapper div.footer-content.usefull-links div.links a {
  display: block;
  font-size: 18px;
  line-height: 25px;
  color: #000;
  text-decoration: none;
}

body footer.footer div.footer-copy {
  height: 100px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #fff;
  background: linear-gradient(106.37deg, #A363CB -8.15%, #E2B38C 123.43%);
}

div.skill-card {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  overflow: hidden;
}

div.skill-card div.thumbnail {
  width: 100%;
  padding-top: 100%;
  background-color: #5c5c5c;
  background-position: center;
  background-size: cover;
}

div.skill-card div.card-content {
  padding: 10px 20px 20px;
}

div.skill-card div.card-content h4.skill-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 30px;
}

div.progress-bar {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: #E6E6E6;
}

div.progress-bar div.percentage {
  position: relative;
  height: 100%;
  background-color: #A363CB;
}

.btn {
  display: block;
  line-height: 34px;
  height: 44px;
  padding: 0 20px 10px;
  border-radius: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.btn.main {
  background: linear-gradient(271.58deg, #1DA1F2 -4.99%, #92C76D 96.93%);
}

.btn.rounded {
  border-radius: 20px;
}

a.project-card {
  display: block;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-decoration: none;
}

a.project-card.limit {
  width: 300px;
}

a.project-card div.thumbnail {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background-color: #5C5C5C;
  background-size: cover;
  background-position: center;
}

a.project-card div.thumbnail div.label {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  font-size: 12px;
  color: #fff;
  padding: 0 20px;
  background: linear-gradient(110.94deg, #92C76D -15.98%, #1DA1F2 114.66%);
  border-radius: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.project-card div.thumbnail div.label span {
  padding-bottom: 3px;
  text-transform: capitalize;
}

a.project-card div.thumbnail div.label::after {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 5px;
}

a.project-card div.thumbnail div.label.android::after {
  background: center/contain url("../images/ant-design_android-fill.svg");
}

a.project-card div.thumbnail div.label.web::after {
  background: center/contain url("../images/mdi_web.svg");
}

a.project-card h3.project-title {
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 20px 20px;
  overflow: hidden;
  color: #000;
}

div.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

div.socials a {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

div.socials a.linkedin {
  background: center/contain url("../images/linkedinicon.svg");
}

div.socials a.facebook {
  background: center/contain url("../images/facebookicon.svg");
}

div.socials a.twitter {
  background: center/contain url("../images/twittericon.svg");
}

div.socials a.instagram {
  background: center/contain url("../images/instagramicon.svg");
}

div.socials a.github {
  background: center/contain url("../images/githubicon.svg");
}
/*# sourceMappingURL=style.css.map */